.base_div{
  margin: auto;
  width: 90%;
  border: 3px;
  padding: 10px;
  background-color: AliceBlue;
}

.header_div{
  margin: auto;
  width: 100%;
  height: 70px;
  background-color: black;
}

.header_div > h1 {
  color: white;
  display: inline-block;
  padding: 0px 100px;
}

.nav{
  position: relative;
  float: right;
  display: inline-block;
}

.nav > li {               /* style li inside nav */
  display: inline-block;
  padding: 10px 20px;
}

.nav > li > a {            /* style li elements having link */
  color: white;
  text-decoration: none;   /* To remove underline */
}

.body_div{
  margin: auto;
  width: 100%;
}

.section_div{
  margin: auto;
  width: 90%;
  padding-top: 20px;
}

.about_me_text{
  position: relative;
  align: left;
  display: inline-block;
  width: 70%;
  height: 200px;
  padding: 20px 20px 20px 20px;
}

.about_me_pic{
  position: relative;
  float: right;
  display: inline-block;
}

.section_header{
  margin: auto;
  width: 100%;
  height: 30px;
  background-color: black;
}

.section_header > h3 {
  color: white;
  padding: 5px 50px;
}

.Softwares_box{
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

#prj1{
  background-color: blue;
}

/*grid and flex-box */
